.container {
  width: 1000px;
  margin: 0 auto;
}

.row {
  position: relative;
  margin: 0 20px;
}

header {
  height: 100px;
}

header .header-data {
  display: block;
  padding-top: 20px;
  font-weight: 600;
  font-size: 12px;
  color: #a8a8a8;

}

header .header-title {
  font-weight: bold;
  font-size: 32px;
}

.header-id {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 4px;
  background: linear-gradient(123.11deg, rgba(164, 169, 181, 0.2) -4.67%, rgba(164, 169, 181, 0) 69.74%), #C4C4C4;
  border-radius: 50%;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1020px) {
  .container {
    width: 100%;
  }
}
